In [1]:
import pandas as pd

In [2]:
citi_bike_data = pd.read_csv('resources/202303-citibike-tripdata.csv', dtype={'start_station_id': 'str', 'end_station_id': 'str'})
citi_bike_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EAB9FFEAB7BDBAF2,classic_bike,2023-03-15 18:11:59,2023-03-15 18:18:38,6 Ave & W 33 St,6364.07,9 Ave & W 22 St,6266.06,40.748423,-73.988208,40.745497,-74.001971,member
1,B57211E2408E604F,classic_bike,2023-03-18 21:05:59,2023-03-18 21:10:51,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749134,-73.988536,40.754145,-73.996089,member
2,9411DD44FB7406A9,classic_bike,2023-03-16 10:16:15,2023-03-16 10:24:27,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749013,-73.988484,40.754145,-73.996089,member
3,DC2D4F90D746F435,classic_bike,2023-03-01 06:55:20,2023-03-01 07:05:44,E 5 St & Ave A,5626.06,8 Ave & W 31 St,6450.05,40.724775,-73.983742,40.750585,-73.994685,member
4,63874304EFBD61EE,classic_bike,2023-03-02 23:21:02,2023-03-02 23:42:19,3 Ave & Schermerhorn St,4437.01,Greenpoint Ave & Manhattan Ave,5785.05,40.686803,-73.979754,40.730260,-73.953940,member

In [3]:
station_id_details = pd.read_csv('resources/station_details.csv', dtype={'start_station_id': 'str'})
station_id_details.head()

  start_station_id  start_lat  start_lng      city     state  postcode
0          2733.03  40.633386 -74.016565  New York  New York     10120
1          2782.02  40.635762 -74.019932  New York  New York     10120
2          2821.05  40.635541 -74.013004  New York  New York     10120
3          2832.03  40.637017 -74.022157  New York  New York     10009
4          2861.02  40.638592 -74.010172  New York  New York     11227

In [4]:
new_df = citi_bike_data.merge(station_id_details, how='left', on='start_station_id')
new_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat_x,start_lng_x,end_lat,end_lng,member_casual,start_lat_y,start_lng_y,city,state,postcode
0,EAB9FFEAB7BDBAF2,classic_bike,2023-03-15 18:11:59,2023-03-15 18:18:38,6 Ave & W 33 St,6364.07,9 Ave & W 22 St,6266.06,40.748423,-73.988208,40.745497,-74.001971,member,40.748960,-73.988499,New York,New York,10016.0
1,B57211E2408E604F,classic_bike,2023-03-18 21:05:59,2023-03-18 21:10:51,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749134,-73.988536,40.754145,-73.996089,member,40.748960,-73.988499,New York,New York,10016.0
2,9411DD44FB7406A9,classic_bike,2023-03-16 10:16:15,2023-03-16 10:24:27,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749013,-73.988484,40.754145,-73.996089,member,40.748960,-73.988499,New York,New York,10016.0
3,DC2D4F90D746F435,classic_bike,2023-03-01 06:55:20,2023-03-01 07:05:44,E 5 St & Ave A,5626.06,8 Ave & W 31 St,6450.05,40.724775,-73.983742,40.750585,-73.994685,member,40.724780,-73.984257,New York,New York,10120.0
4,63874304EFBD61EE,classic_bike,2023-03-02 23:21:02,2023-03-02 23:42:19,3 Ave & Schermerhorn St,4437.01,Greenpoint Ave & Manhattan Ave,5785.05,40.686803,-73.979754,40.730260,-73.953940,member,40.686832,-73.979692,New York,New York,10009.0

In [5]:
new_df.to_csv('Final_Data.csv', index=False)

In [6]:
sample_df = new_df.head(10000)
sample_df.to_csv('Sample_Final.csv', index=False)